* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(37, 9, 9);
  background: radial-gradient(circle, rgb(37, 9, 9) 0%, rgb(0, 0, 0) 100%);
}

a {
  text-decoration: none;
  color: #000;
}

img {
  width: 100%;
}

.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.cont-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  background-image: linear-gradient(to left, brown, rgb(107, 2, 23));
  flex-wrap: wrap;
}

.menu-style {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 0;
}

.menu-img {
  width: 17%;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.style-item {
  color: #000;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Anta", sans-serif;
  transition: all 0.5s ease;
  margin: 1rem;
}

.style-item:hover {
  color: #66b814;
}

.titulo {
  text-align: center;
  font-family: "Anta", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #000;
  background-image: linear-gradient(to left, brown, rgb(107, 2, 23));
  margin: 10rem 0 2rem 0;
}

.cont-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 3rem auto;
  padding: 0 1.5rem;
}
.cont-main-parrafo {
  font-size: 1.6rem;
  color: #a52a2a;
  font-family: "Kode Mono", monospace;
  margin: 2%;
}
.cont-main-img {
  max-width: 450px;
  margin: 2rem;
  flex-direction: column;
  border-radius: 12px;
}

.cont-main2 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 960px;
  margin: 3rem auto;
  padding: 0 1.5rem;
}
.cont-main2-parrafo {
  font-size: 1.6rem;
  color: #a52a2a;
  font-family: "Kode Mono", monospace;
  margin: 2%;
}
.cont-main2-img {
  max-width: 450px;
  margin: 2rem;
  flex-direction: column;
  border-radius: 12px;
}

.cont-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  margin: 3% 12%;
  flex-wrap: wrap;
}

.card {
  background-image: linear-gradient(to left, brown, rgb(107, 2, 23));
  border: solid 2px #a52a2a;
  width: 25rem;
  min-height: 50rem;
  margin: 1rem;
  transition: all 0.8s ease;
}
.card-img-top {
  max-width: 24.7rem;
  height: 35rem;
}
.card-titulo {
  font-size: 2rem;
  color: #000;
  font-family: "Anta", sans-serif;
  border-bottom: 2px solid #000;
}
.card-parrafo {
  font-size: 1.6rem;
  font-family: "Kode Mono", monospace;
  color: #000;
}

.card:hover {
  border-color: #66b814;
  background-image: linear-gradient(to right, rgb(5, 249, 5), rgb(2, 130, 2));
}

.cont-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-image: linear-gradient(to right, brown, rgb(107, 2, 23));
  width: 100%;
  height: 15rem;
  margin-top: 6rem;
}

.cont-footer-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
  margin: 1.5rem;
  gap: 25%;
  width: 100%;
  flex-wrap: wrap;
}
.cont-footer-items-redes {
  gap: 1rem;
  margin-top: 1.5rem;
}

.items-parrafo {
  font-family: "Anta", sans-serif;
  font-size: 1.3rem;
  color: #000;
  flex-direction: column;
  gap: 2rem;
}

.redes-logo {
  width: 4rem;
  margin: 1rem;
  transition: all 0.5s ease;
  border-radius: 12px;
}

.redes-logo:hover {
  width: 5rem;
  margin: 0.5rem;
}

@media screen and (max-width: 890px) {
  .cont-main {
    flex-direction: column;
  }
  .cont-main2 {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 500px) {
  .redes-logo {
    width: 2.8rem;
    transition: all 0.5s ease;
  }
  .redes-logo:hover {
    width: 3.8rem;
  }
  .cont-cards {
    margin: 3% 5%;
  }
}
.titulo-alt {
  text-align: center;
  font-family: "Anta", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: #000;
  background-image: linear-gradient(to left, brown, rgb(107, 2, 23));
  margin: 2rem 0;
}

.titulo-dos {
  color: #66b814;
  font-size: 3rem;
  font-family: "Kode Mono", monospace;
  margin: 1%;
  padding: 1%;
  text-align: center;
}

.escuchar-uno {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.escuchar-dos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto 15%;
}

@media screen and (max-width: 700px) {
  .escuchar-dos {
    flex-direction: column;
    margin: auto;
    gap: 2rem;
  }
}
.cont-galeria {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 15%;
  flex-wrap: wrap;
}
.cont-galeria-img {
  width: 30rem;
  height: 20rem;
  margin: 2%;
  border-radius: 12px;
}

.cont-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 15%;
  flex-wrap: wrap;
}
.cont-poster-img {
  width: 30rem;
  height: 45rem;
  margin: 2%;
  border-radius: 20px;
}

@media screen and (max-width: 500px) {
  .cont-poster {
    gap: 2rem;
  }
  .cont-galeria {
    gap: 2rem;
  }
}
.cont-gizzverse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10%;
}
.cont-gizzverse-img {
  max-width: 50rem;
  transition: all 0.5s ease;
}
.cont-gizzverse-img:hover {
  max-width: 53rem;
}

.cont-merch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 10%;
  flex-wrap: wrap;
}
.cont-merch-vinil {
  width: 27rem;
  border-radius: 10%;
  margin: 2rem;
  border: 5px solid #000;
  transition: all 0.5s ease;
}
.cont-merch-vinil:hover {
  width: 28rem;
  border-color: #a52a2a;
  margin: 1.5rem;
}
.cont-merch-ropa {
  width: 27rem;
  height: 39rem;
  border-radius: 15px;
  margin: 2rem;
  border: solid 5px #000;
  transition: all 0.5s ease;
}
.cont-merch-ropa:hover {
  width: 28rem;
  height: 40rem;
  border-color: #a52a2a;
  margin: 1.5rem;
}

.cont-tour {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.cont-tour-img {
  max-width: 150rem;
  margin: 10rem 0 0 0;
}

.cont-fechas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cont-fechas-parrafo {
  color: #a52a2a;
  font-family: "Kode Mono", monospace;
  font-size: 2rem;
  margin: 2rem;
  text-align: center;
}
.cont-fechas-tickets {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66b814;
  color: #000;
  font-size: 2rem;
  font-family: "Anta", sans-serif;
  border-radius: 15px;
  margin: 1rem;
  border: solid #a52a2a 3px;
  padding: 2rem 4rem;
  width: 7rem;
  height: 4rem;
  transition: all 0.5s ease;
}
.cont-fechas-tickets:hover {
  background-color: rgb(62, 167, 6);
}

/*# sourceMappingURL=styles.css.map */
