//colores

$color-principal: #000;
$color-secundario: #a52a2a;
$color-terciario:  #66b814;
$font-color-principal: #000;
$font-color-secundario: #a52a2a;
$font-color-terciario:  #66b814;

//font sizes

$font-s: 1.3rem;
$font-m: 1.6rem;
$font-l: 2rem;
$font-xl: 3rem;

