// Header

.cont-menu {
    @include flex(null, center, center, 7%);
    background-image: linear-gradient(to left, brown, rgb(107, 2, 23));
    flex-wrap: wrap;    
}

.menu-style {
    @include flex(null, end, center,0)
}

.menu-img {
    width: 17%;
}

.menu-items {
    @include flex(null, space-between, center, 5rem);
    padding: .5rem;
    flex-wrap: wrap;
}

.style-item {
    color: $font-color-principal;
    font-size: $font-m;
    font-weight: bold;
    font-family: "Anta", sans-serif;
    transition: all 0.5s ease;
    margin: 1rem;
}

.style-item:hover  {
    color: $font-color-terciario;
}

.titulo {
    @include titulo;
    margin: 10rem 0 2rem 0;
}

//Main

.cont-main {
    @include flex-center;
    max-width: 960px;
    margin: 3rem auto;
    padding: 0 1.5rem;

    &-parrafo {
        font-size: $font-m;
        color: $font-color-secundario;
        font-family: "Kode Mono", monospace;
        margin: 2%;
    }

    &-img {
        max-width: 450px;
        margin: 2rem;
        flex-direction: column;
        border-radius: 12px;
    }
}

.cont-main2 {
    @include flex-center;
    max-width: 960px;
    margin: 3rem auto;
    padding: 0 1.5rem;

    &-parrafo {
        font-size: $font-m;
        color: $font-color-secundario;
        font-family: "Kode Mono", monospace;
        margin: 2%;
    }

    &-img {
        max-width: 450px;
        margin: 2rem;
        flex-direction: column;
        border-radius: 12px;
    }


}

//Sección

.cont-cards {
    @include flex (null, center, center, 3%);
    margin: 3% 12%;
    flex-wrap: wrap
}

.card {
    background-image: linear-gradient(to left, brown, rgb(107, 2, 23));
    border: solid 2px $font-color-secundario;
    width: 25rem;
    min-height: 50rem;
    margin: 1rem;
    transition: all 0.8s ease;

    &-img-top {
        max-width: 24.7rem;
        height: 35rem;
    }

    &-titulo {
        font-size: $font-l;
        color: $font-color-principal;
        font-family: "Anta", sans-serif;
        border-bottom: 2px solid $color-principal;
    }

    &-parrafo {
        font-size: $font-m;
        font-family: "Kode Mono", monospace;
        color: $font-color-principal;
    }

}

.card:hover {
    border-color: $color-terciario;
    background-image: linear-gradient(to right, rgb(5, 249, 5), rgb(2, 130, 2));
}

//Footer

.cont-footer {
    @include flex (null, center, center, 0);
    background-image: linear-gradient(to right, brown, rgb(107, 2, 23));
    width: 100%;
    height: 15rem;
    margin-top: 6rem;
}

.cont-footer-items {
    @include flex (null, center, center, 7rem);
    margin: 1.5rem;
    gap: 25%;
    width: 100%;
    flex-wrap: wrap;

    &-redes {
        gap: 1rem;
        margin-top: 1.5rem;
    }
}

.items-parrafo {
    font-family: "Anta", sans-serif;
    font-size: $font-s;
    color: $font-color-principal;
    flex-direction: column;
    gap: 2rem;
}

.redes-logo {
    width: 4rem;
    margin: 1rem;
    transition: all 0.5s ease;
    border-radius: 12px;
}
.redes-logo:hover {
    width: 5rem;
    margin: 0.5rem;
}

//Media queries

@media screen and (max-width: 890px) {
    .cont-main {
        flex-direction: column;
    }

    .cont-main2 {
    flex-direction: column-reverse;
    }
}

@media screen and (max-width:500px) {
    .redes-logo {
        width: 2.8rem;
        transition: all 0.5s ease;
    }

    .redes-logo:hover {
        width: 3.8rem;
    }

    .cont-cards {
        margin: 3% 5%;
    }
}
