// Tour Main

.cont-tour {
    @include flex-center;
    margin: auto;

    &-img {
        max-width: 150rem;
        margin: 10rem 0 0 0;
    }
}

.cont-fechas {
    @include flex-center;
    flex-direction: column;

    &-parrafo {
        color: $font-color-secundario;
        font-family: "Kode Mono", monospace;
        font-size: $font-l;
        margin: 2rem;
        text-align: center;
    }

    &-tickets {
        @include flex-center;
        background-color: $color-terciario;
        color: $font-color-principal;
        font-size: $font-l;
        font-family: "Anta", sans-serif;
        border-radius: 15px;
        margin: 1rem;
        border: solid $color-secundario 3px;
        padding: 2rem 4rem;
        width: 7rem;
        height: 4rem;
        transition: all 0.5s ease;
    }

    &-tickets:hover {
        background-color: rgb(62, 167, 6);
        
    }

}